<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-shop.io</title>
</head>
<body>


<div class="home-page">
  <form name="search" action="" method="post">
    <input class="search-bar" type="text" placeholder="  Search for products ..." name="re">
    <label for="column">select by:</label>
    <select id="column" name="col">
        <option value="name">name</option>
        <option value="url">url</option>
        <option value="rating">rating</option>
        <option value="price">price</option>
        <option value="number_rating">number_rating</option>
        <option value="image_url">image_url</option>
        <option value="qty_in_stock">qty_in_stock</option>
        <option value="product_code">product_code</option>
        <option value="product_type">product_type</option>
    </select>
    <button class="button" type="submit">Search</button>
  </form>
</div>

</body>
</html>
