<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

div {
    background-color: white;
    border: 10px blue;
    padding: 20px;
    width: 600px;
}

body {
  padding: 100px;
  background-color: #070366FF;
  color: purple;
  font-size: 25px;
}

</style>
</head>
<body>
{% block content %}
<div1 class="results">
{% if products == [] %}
    <h1>Product(s) not found</h1>
{% else %}
    <h1>Kitchen, Bedroom and Bathroom</h1>
    <img src="https://i.ibb.co/pKzkcv4/kit.jpg" height="200px" width="400px">
    {% for product in products %}
        <div class="result-product">
            <a href="{{ url_for('review',user=usr, product_code=product.Product_Code) }}"><img class="main-image" src={{ product.Image_Url }}></a>
            <div1 class="result-details">
                <p class="main-name">Name: {{ product.Name }}</p>
                <p class="main-code">Code: {{ product.Product_Code }}</p>
                <p class="main-price">Price: ${{ product.Price }}</p>
                <p class="main-rating">Rating: {{ product.Rating }}</p>
                <p class="main-number">Number of ratings: {{ product.Number_Rating }}</p>
            </div1>
        </div>
        <br>
    {% endfor %}
{% endif %}
</div1>
{% endblock %}
</body>
